    * {
    margin: 0;
    user-select: none;
    }


    .gradient-color {
      background: linear-gradient(to right, #FB007E, #B60BA7, #8215D7);
      user-select: none;
      color: white;
    }


    .btn-group{
        width: 50%;
    }
    
    h1.gradient-text {
      background: linear-gradient(to right, #FB007E, #B60BA7, #8215D7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 19rem;
      user-select: none;
    }

    h4.gradient-text {
      background: linear-gradient(to right, #FB007E, #B60BA7, #8215D7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      user-select: none;
    }

    h1.gradient-text-2 {
    background: linear-gradient(to bottom, #FB007E, #B60BA7, #8215D7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12rem;
    user-select: none;
    }

    .display-1 {
    line-height: 2;
    }
    .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120vh;
    overflow: hidden;
    text-align: center;
    user-select: none;
    }

    .hero img {
    position: absolute;
    max-width: 850px; 
    height: auto;
    z-index: 2;
    user-select: none;
    }

    .hero-4 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1.gradient-text-3 {
        position: absolute;
        left: 0;
        top:100px;
        font-size: 12rem;
        background: linear-gradient(90deg,#ff0080, #a200ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 1; /* below the image */
        opacity: 0.9;
    }

    .headphone-img {
        position: relative;
        z-index: 2; /* above the text */
        width: 50%;
    }

    .content {
        position: relative;
        z-index: 3; /* above both */
        margin-left: 2rem;
        text-align: left;
    }

    .content-2 {
        position: relative;
        text-align: right;
        align-items: right;
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    #hero-3 {
    margin-top: 10rem;
    }

    #hero2 {
    margin-top: 4rem;
    }

    #hero-2 {
    margin-top: 10rem;
    }

    .circle-container {
        width: 30px; 
        height: 30px;
        position: relative;
    }

    .white-top-half {
        width: 100%;
        height: 50%; 
        background-color: rgb(222, 222, 222); 
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .white-bottom-half {
        width: 100%;
        height: 50%; 
        background-color: rgb(148, 148, 148); 
        border-bottom-left-radius: 100px; 
        border-bottom-right-radius: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .black-top-half {
        width: 100%;
        height: 50%; 
        background-color: rgb(75, 75, 75); 
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .black-bottom-half {
        width: 100%;
        height: 50%; 
        background-color: rgb(0, 0, 0); 
        border-bottom-left-radius: 100px; 
        border-bottom-right-radius: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .pink-top-half {
        width: 100%;
        height: 50%; 
        background-color: rgb(255, 141, 141); 
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .pink-bottom-half {
        width: 100%;
        height: 50%; 
        background-color: rgb(255, 0, 0); 
        border-bottom-left-radius: 100px; 
        border-bottom-right-radius: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .blue-top-half {
        width: 100%;
        height: 50%; 
        background-color: rgb(136, 201, 219); 
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .blue-bottom-half {
        width: 100%;
        height: 50%; 
        background-color: rgb(0, 97, 142); 
        border-bottom-left-radius: 100px; 
        border-bottom-right-radius: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .wrapper {
        width: 90%;
        max-width: 1536px;
        margin-inline: auto;
        position: relative;
        height: 100px;
        overflow: hidden;
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0), 
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0)
        );
    }

    .item {
        position: absolute;
        left: 100%;
        animation: scrollLeft 21s linear infinite;
        font-size: 5rem;
        white-space: nowrap;
    }

    .item1 {
        animation-delay: 0s;
    }

    .item2 {
        animation-delay: 7s;
    }

    .item3 {
        animation-delay: 14s;
    }

    @keyframes scrollLeft {
        0% {
            left: 100%;
        }
        100% {
            left: -100%;
        }
    }


    @media (max-width: 1200px) {
        h1.gradient-text {
            font-size: 14rem;
        }
        h1.gradient-text-3{
            font-size: 14rem;
        }
        .hero img {
            max-width: 750px;
        }
        .hero2 img {
            max-width: 500px;
        }
        .hero-4 img {
            max-width: 750px;
        }
        .container{
            justify-content: space-around;
            gap: 1.5rem;
        }
        .item {
            font-size: 4rem;
            animation-duration: 21s;
        }
        .wrapper {
            height: 90px;
        }
    }

    @media (max-width: 992px) {
        h1.gradient-text {
            font-size: 11rem;
        }
        h1.gradient-text-3 {
            font-size: 11rem;
        }
        .hero img {
            max-width: 550px;
        }
        .hero2 img {
            max-width: 300px;
            height: 200px;
            padding-top: 50px;
        }
        .hero-4 img {
            max-width: 550px;
        }
        
        .content-section {
            text-align: center;
            margin-top: 2rem;
        }

        .container{
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
        }
        .container > div {
            flex: 1 1 45%;
            text-align: center;
        }
        .item {
            font-size: 3.5rem;
            animation-duration: 24s;
        }
        .wrapper {
            width: 50%;
        }
    }

    @media (max-width: 768px) {
    h1.gradient-text {
        font-size: 9rem;
        line-height: 1.3;
    }
    h1.gradient-text-3{
        font-size: 9rem;
        line-height: 1.3;
    }
    .hero img {
        max-width: 450px;
    }
    .hero2 img{
        max-width: 250px;
        height: 180px;
        padding-top: 70px;
    }

    .hero-4 img {
        max-width: 450px;
    }

    .hero-4 {
        flex-direction: column;
        text-align: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .container > div {
        width: 100%;
        justify-content: center;
    }
    }

    @media (max-width: 576px) {
    h1.gradient-text {
        font-size: 6rem;
        line-height: 1.3;
    }
    h1.gradient-text-3 {
        font-size: 6rem;
        line-height: 1.3;
    }
    .hero img {
        max-width: 350px;
    }
    .hero2 img{
        max-width: 200px;
        height: 150px;
        padding-top: 100px;
    }

    .hero-4 img {
        max-width: 350px;
    }
    .hero-4 {
        flex-direction: column;
        text-align: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    
    }

    